
<% if current_user  %>
	<h3>Reviews</h3>

	<p>Reviews for <%= @product.name %></p>

		<% counter = 1 %>

	<% @product.reviews.each do |review| %>
		<% unless review.new_record? %>
		<p>
		<%= counter %>) <%= review.comment %>
		<% if review.user != nil %>
			This review was written by <%= review.user.name %><br>
			on <%= review.created_at %>
		<% end %>
			<% counter = counter + 1  %>

		</p>
		<% end %>
	<% end  %>

	<h4>New Review</h4>


<%= form_for([@product, @review]) do |f| %>

		<% if @review.errors.any?  %>
			<h2><%= pluralize(@review.errors.count, "error") %> prevented this from being saved </h2>

			<ul>
			<% @review.errors.full_messages.each do |error|  %>
				<li> <%= error %> </li>
				<% end  %>
			</ul>
		<% end %>

		 <div>
		 	<%= f.label :comment %><br />
		 	<%= f.text_area :comment %>
		 </div>
		 <div>
		 	<%= f.submit %>
		 </div>
	<% end %>

<% else  %>

	Please <%= link_to("login", new_session_path) %> to add a new review



<% end %>